* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: #333333;
    font-family: monospace;
}

.field {
    height: 350px;
    width: 700px;
    position: relative;

    background-color: #222222;
}

.score {
    margin-bottom: 20px;
    width: 700px;

    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
}

#__next {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
