* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: #333333;
}

.field {
    height: 350px;
    width: 700px;
    position: relative;

    background-color: #222222;
}

#__next {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
